/* selector {
    property: value;
} */

body {
    background-color: rgb(61, 44, 218);
}


body {
    background-attachment: rgb(104, 96, 226);
    margin: 0px;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
}

header {
    background-color: rgb(224, 206, 209);
    height: 100px;
}

h1 {
    float: left;
    margin-left: 20px;
    margin-right: 50px;
    color: rgb(173, 165, 165);
    text-shadow: 5px 5px 5px rgb(161, 24, 24);
}

nav {
    width: 40%;
}

nav a {
    margin-top: 30px;
    margin-right: 20px;
}

.lower img {
    max-width: 100%;
}

main {
    width: 960px;
    margin: 30px auto;
    min-height: 700px;
}

.lower {
    display: inline-block;
    max-width: 30%;
    margin: 10px;
    text-align: center;
}






nav {
    background-color:rgb(124, 185, 185);
}

